/*realizar media @ para texto*/
@media screen and (max-width: 519px) and (min-width: 200px) {
  div#fondo_presentacion {
    height: 40vh; }

  /*medida para la imagen del logo*/
  img.brand-logo {
    width: 35%;
    margin: 5%; }

  h2 {
    text-align: center;
    font-size: .8rem; }

  h1 {
    font-size: 25px;
    text-align: center;
    top: 200px;
    width: 100%; }

  h3 {
    font-size: 15px;
    text-align: center;
    top: 200px; }

  h4 {
    font-size: 13px; }

  p {
    font-size: 12px; }

  ul#lista li {
    margin-right: 5px; }
    ul#lista li p {
      font-size: .9em; }

  ul.pagination li {
    margin-right: 5px; }

  .fondo-footer {
    background-image: url("../../public/img/home/footer.png");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: ""; }

  .fondo--about {
    background-image: url("../../public/img/home/tour-bg.png");
    margin-top: 40px;
    height: 18vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

  blockquote.bigquote {
    margin: 0;
    padding: 0; }

  blockquote.bigquote p.contenido {
    margin: 0;
    padding: 0;
    font-size: .6em; }

  .respondiva-lista {
    font-size: .7em; }

  .formulario {
    width: 100%;
    font-size: .8em; }
    .formulario textarea.materialize-textarea {
      padding: 0; }
    .formulario button {
      font-size: .7em;
      padding: 0; }

  .pagination li a {
    font-size: .8rem;
    padding: 0 6px; } }
@media screen and (max-width: 1024px) and (min-width: 520px) {
  p {
    font-size: 1em; }

  ul#lista li {
    margin-right: 5px; }
    ul#lista li p {
      font-size: .9em; }

  .fondo-footer {
    background-image: url("../../public/img/home/footer.png");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: ""; }

  .fondo--about {
    background-image: url("../../public/img/home/tour-bg.png");
    margin-top: 40px;
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; } }
@media screen and (min-width: 1024px) {
  div#fondo1 {
    height: 80vh; }

  h1 {
    text-align: center; }

  h3 {
    text-align: center;
    top: 200px;
    width: 100%; }

  .fondo-footer {
    background-image: url("../../public/img/home/footer.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: ""; }

  .fondo--about {
    background-image: url("../../public/img/home/tour-bg.png");
    margin-top: 40px;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; } }
blockquote.bigquote {
  border: none;
  background: url("../../public/img/quotes1.png") no-repeat; }

blockquote.bigquote p.contenido {
  border: none;
  padding: 10px 10px 5px 0;
  background: url("../../public/img/quotes2.png") no-repeat right bottom; }

.color--rojo {
  color: red; }

body {
  color: #565150; }

.row {
  margin-bottom: 0; }

.posicion {
  position: relative; }

.arriba {
  margin-top: 40px; }

.rotate {
  transform: rotate(180deg); }

.triangulo-equilatero-bottom {
  width: 0;
  height: 0;
  border-right: 110px solid transparent;
  border-top: 100px solid transparent;
  border-left: 110px solid transparent;
  border-bottom: 100px solid #f0ad4e; }

.margen-contenedor {
  margin: 10px; }

.margen-ceroAbajo {
  margin-bottom: 0; }

.color--azul {
  background-color: blue;
  color: white;
  padding: 4px; }

.margen--derecho {
  margin-left: 35px; }

.enlinea {
  display: inline-block; }

p.enlinea {
  margin-right: 30px; }

.color--gris {
  background-color: #A9A9A9;
  margin: 5px 5px 5px 5px; }

nav {
  background-color: white; }

nav ul a {
  color: black;
  padding: 0 15px; }

nav .button-collapse {
  color: blue; }

nav .nav-wrapper {
  margin: 10px 40px 40px; }

nav .nav-wrapper ul i {
  color: blue; }

div.iconos i {
  margin-left: 30px; }

div.iconos {
  padding: 40px 40px 0; }

.footer--margen {
  margin-top: 10px; }

.fondo--ciudad {
  background-image: url("../../public/img/home/slider-bg.png");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left; }

.boton--transparente {
  border-radius: 15px;
  padding: 20px 35px 20px 35px;
  cursor: pointer;
  background-color: Transparent;
  border-color: #00CED1;
  color: DarkTurquoise;
  margin-left: 150px; }

.formulario {
  width: 70%; }

#boton--formulario {
  width: 100%; }

#lista {
  display: flex; }

#lista li {
  margin-right: 30px; }

li {
  margin-right: 30px; }

#lista li p {
  display: inline-block; }

.margen--izquierda {
  margin-left: 35%; }

.boton__color--verde {
  color: #00FFFF;
  border-color: #00FFFF;
  border-style: solid 3px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 55%; }

.margen--abajo {
  margin-top: 12%; }

.margen--cuadroRojo {
  margin-left: 15%; }

.imagen--sol {
  position: relative;
  top: 50%;
  bottom: 40%;
  left: 0; }

.imagen--casa {
  position: relative;
  top: 220px;
  bottom: 0;
  left: 0; }

.imagen--aves {
  position: relative;
  top: 30%;
  bottom: 0;
  left: 25%; }

.imagen--aves2 {
  position: relative;
  top: 15%;
  bottom: 0;
  left: 10%; }

.posicion--absoluta {
  position: absolute;
  margin-top: 22%;
  right: .5%; }

.opacidad--moto {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.relativa {
  position: relative; }

/*# sourceMappingURL=style.css.map */
