extends templates/layout

block append main
  div.container-fluid.fondo--about
    div.row
      div.col.s8.offset-s1.col.l8.offset-l1
        h3 Blog
        h5 Why our clients love to work with us.

  div.container
    mixin secciones(numeroImagen)
      div
        img.responsive-img(src="../public/img/blog/masonary/#{numeroImagen}")
        a creative
          i.fa.fa-eraser(aria-hidden="true")

        h5 Advanced bussines card desing
        a posten by micro news
        p La traducción es la actividad que consiste en comprender el significado de un texto en un .... C. mandó traducir del hebreo al griego koiné las Sagradas Escrituras a 72 sabios que dominaban el hebreo y el griego
        p: a view new
        a 32 love
          i.fa.fa-heart(aria-hidden="true")
        a 3 coments
          i.fa.fa-telegram(aria-hidden="true")
    div.row
      div.col.s3.col.l3
        +secciones("1.jpg")
        +secciones("4.jpg")
        +secciones("9.jpg")
      div.col.s3.col.l3
        +secciones("3.jpg")
        +secciones("4.jpg")
        +secciones("4.jpg")
      div.col.s3.col.l3
        +secciones("6.jpg")
        +secciones("10.jpg")
      div.col.s3.col.l3
        +secciones("8.jpg")
        +secciones("3.jpg")
