extends templates/layout

block append main
  div.container-fluid.fondo--about
    div.row
      div.col.s8.offset-s1.col.l8.offset-l1
        h3 Blog
        h5 Why our clients love to work with us.
