
@import 'variables';
@import "mixin";
@import 'jquery';
// estilos para footer en los comentarios
blockquote.bigquote {
border:none;
background:url("../../public/img/quotes1.png") no-repeat;
}
blockquote.bigquote p.contenido {
border:none;
padding: 10px 10px 5px 0;
background:url("../../public/img/quotes2.png") no-repeat right bottom;
}
.color--rojo{
  color: red;
}

//estilos generales
body{
  color: #565150;
}
.row{
  margin-bottom: 0;
}

.posicion{
 position: relative;
}
.arriba{
  margin-top:40px;
}
.rotate {
  transform:rotate(180deg);
}
.rotate2 {
  transform:rotate(360deg);
}
.triangulo-equilatero-bottom {
width: 0;
height: 0;
border-right: 110px solid transparent;
border-top: 100px solid transparent;
border-left: 110px solid transparent;
border-bottom: 100px solid ;
}
.azul{
  color:blue;
}
.amarillo{
  color: #f0ad4e;
}
.rojo{
  color: red;
}
.gris{
  color: grey;
}
.margen-contenedor{
  margin: 10px;
}

.margen-ceroAbajo{
  margin-bottom: 0;
}
.color--azul{
  background-color: blue;
  color: white;
  padding: 4px;
}
.margen--derecho{
  margin-left: 35px;
}
.enlinea{
  display: inline-block;
}
p.enlinea{
  margin-right: 30px;
}
.color--gris{
  background-color:#A9A9A9;
  margin: 5px 5px 5px 5px;
}

// estilos del navegador
nav{
  background-color: white;
}
nav{
  ul{
    a{
      color: black;
      padding: 0 15px;
    }
  }
}
nav .button-collapse{
  color: blue;
}
nav .nav-wrapper {
  margin: 10px 40px 40px;
}
nav .nav-wrapper ul i{
  color: blue;
}
div.iconos i{
  margin-left: 30px;
}
div.iconos{
  padding: 40px 40px 0;
}

// estilos de fondos



// estilos para el fondo-footer
.footer--margen{
  margin-top: 10px;
}
.fondo--ciudad{
  background-image: url("../../public/img/home/slider-bg.png");
  @include fondos(90vh,left);

}
.boton--transparente{
  border-radius: 15px;
  padding: 20px 35px 20px 35px;
  cursor:pointer;
  background-color: Transparent;
  border-color: #00CED1;
  color: DarkTurquoise ;
  margin-left: 150px;
}
.formulario{
  width: 70%;
}
#boton--formulario{
  width: 100%;
}
//area de titulo



//estilos de lista portafolio
#lista{
  display: flex;
}
#lista{
  li{
    margin-right: 30px;
  }
}
li{
  margin-right: 30px;
}
#lista {
  li {
    p{
      display: inline-block;
    }
  }
}
.margen--izquierda{
  margin-left: 35%;
}
.boton__color--verde{
  color: 	#00FFFF;
  border-color: 	#00FFFF;
  border-style: solid 3px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 55%;
}
.margen--abajo{
  margin-top: 12%;
}
.margen--cuadroRojo{
  margin-left:  15%;
}
.imagen--sol{
  @include posicionImagen(relative,50%,40%,0)
}
.imagen--casa{
  @include posicionImagen(relative,220px,0,0 )
}
.imagen--aves{
  @include posicionImagen(relative,30%,0,25%)
}
.imagen--aves2{
  @include posicionImagen(relative,15%,0,10% )
}
.posicion--absoluta{
  position: absolute;
  margin-top: 22%;
  right: .5%;
}
//estilo de la pagina creative(home)
.opacidad--moto{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.relativa{
  position: relative;
}
